<footer class="footer arabic" dir="rtl">
    <div class="container">
        <div class="col-md-12 center">
            <div class="row">
                <!-- <div class="col-xl-3 col-md-4 center">
                    <a class="btn btn-link center center" routerLink="/culture">اختبارات ثقافة عامة</a>
                </div>
                <div class="col-xl-3 col-md-4 center">
                    <a class="btn btn-link center" routerLink="/sports">اختبارات معلومات الرياضة</a>
                </div>
                <div class="col-xl-3 col-md-4 center">
                    <a class="btn btn-link center" routerLink="/countries">اختبارات معلومات دول</a>
                </div>
                <div class="col-xl-3 col-md-4 center">
                    <a class="btn btn-link center" routerLink="/islamic">اختبارات معلومات اسلامية</a>
                </div>
                <div class="col-xl-3 col-md-4 center">
                    <a class="btn btn-link center" routerLink="/historic">اختبارات معلومات تاريخية</a>
                </div>
                <div class="col-xl-3 col-md-4 center">
                    <a class="btn btn-link center" routerLink="/geographic">اختبارات معلومات جغرافيا</a>
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-4 center">
                    <a class="btn btn-link center" routerLink="/home">الصفحة الرئيسية</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 center">
                    <a class="btn btn-link center" routerLink="/doYouKnow">هل تعلم ؟ </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 center">
                    <a class="btn btn-link center" routerLink="/informations">معلومات متنوعة</a>
                </div>
                <!-- <div class="col-xl-3 col-md-4 center">
                    <a class="btn btn-link center" routerLink="/quizes">قائمة الاختبارات</a>
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-4 center">
                    <a class="btn btn-link center center" routerLink="/general-culture">اختبارات ثقافة عامة</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 center">
                    <a class="btn btn-link center" routerLink="/countries">اختبارات معلومات دول</a>
                </div>
                <!-- <div class="col-xl-3 col-md-4 center">
                    <a class="btn btn-link center" routerLink="/games">الألعاب والتسلية</a>
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-4 center">
                    <a class="btn btn-link center" routerLink="/contact">تواصل معنا</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 center">
                    <a class="btn btn-link center" routerLink="/privacy-policy">سياسة الخصوصية</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div style="background-color: rgb(134, 134, 134);">
        <nav>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/">
                        HOME
                    </a>
                </li>
                <li>
                    <a routerLink="/contact">
                        Contact us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            {{data | date: 'yyyy'}}, Transpass Aviation Service LTD
        </div>
    </div> -->
</footer>
