<div class="container" style="margin-top: 100px;" dir="rtl">
  <h2 class="text-right"><span class="arabic"> سياسة الخصوصية </span> <span style="font-family: 'Lato', sans-serif; font-size: 26px;"> ( PRIVACY POLICY )</span></h2>
  <div class="col-md-12 text-right arabic">
      <p>-
          تشكل خصوصية زوارنا اهتماما كبيرا لنا في موقعنا <a href="https://www.homepuzzling.com">Home Puzzling</a> ، نلتزم بحماية خصوصية مستخدمينا ونرغب بإطلاعك عزيزي مستخدم الموقع على طبيعة البيانات والمعلومات التي نقوم بتجميعها ، وكيفية استخدامنا لها، وما حدود تحكمنا عليها، كما ستوضح طريقة استخدامنا لهذه البيانات أو المعلومات المجمعة.
      </p>
      <p>-
          بموافقتك على استخدامنا لملفات تعريف الارتباط وفقًا لبنود هذه السياسة عند زيارتك لموقعنا الإلكتروني لأول مرة فإنك تسمح لنا باستخدام ملفات تعريف الارتباط في كل مرة تزور فيها موقعنا.
      </p>
      <p>-
          نقوم مع مرور الزمن بإضافة أو حذف خدمات او أجزاء من وإلى الموقع، لذلك ولالتزامنا بإطلاعكم على سياسة الخصوصية المتبعة قد نقوم بتغيير سياسة الخصوصية، بان نضيف عليها، أو نحذف منها أو نعدل بعض بنودها، لذلك ننصحك بالإطلاع على هذه الاتفاقية من وقت لآخر.
      </p>
      <br>
      <h4>
          ملفات السجل (Log Files) :
      </h4>
      <ul> 
          <li>
              قد يتم جمع وتخزين واستخدام المعلومات الشخصية التالية: معلومات حول جهاز الكمبيوتر الخاص بك بما في ذلك عنوان بروتوكول الإنترنت الخاص بك، والموقع الجغرافي، ونوع المتصفح والإصدار، ونظام التشغيل.
          </li>
          <li>
              معلومات حول زياراتك لهذا الموقع واستخدامه بما في ذلك مصدر الإحالة، ومدة الزيارة، وما تشاهده على الصفحة، ومسارات التصفح في الموقع.
          </li>
      </ul>
      <br>
      <h4>
          ملفات الارتباط وملف الإرشاد (Cookies & Beacons) :
      </h4>
      <ul>
          <li>
              يقوم <a href="https://www.homepuzzling.com">Home Puzzling</a> باستخدام ملفات الارتباط لتخزين تفضيلات المستخدمين، ومعلومات حول الصفحات التي يزورها المستخدم او الزائر، وذلك لأغراض إدارة الموقع وتقديم بعض الخدمات، والمحتويات بناء على معلومات مثل نوعية متصفح الزائر مثلا.
          </li>
      </ul>
      <br>
      <h4>
          ملف/ملفات تعريف الارتباط (DoubleClick DART) :
      </h4>
      <ul style="list-style: none;">
          <li>
              <span style="font-weight: 900;">Google</span> وبصفتها وسيط لإظهار الإعلانات <span style="font-weight: 900;">Google AdSense</span> على موقعنا <a href="https://www.homepuzzling.com">Home Puzzling</a> تقوم باستخدام ملفات الارتباط لتقديم خدمات الإعلان على موقعنا، كما وتقوم باستخدام تقنية ملف تعريف ارتباط DoubleClick DART في تحديد تفضيلات الإعلانات المقدمة للمستخدم من خلال سلوكه على موقعنا او المواقع الالكترونية الاخرى التي قام بزيارتها (تقوم بإظهار إعلانات للزوار بناء على اهتمامتهم)، يمكن للزوار والمستخدمين لموقعنا ، اختيار عدم الاشتراك في ملفات تعريف الارتباط التي تستخدمها جوجل ووسطاء إعلانيين آخرين من خلال الاطلاع على صفحة خصوصية الإعلانات التابعة لجوجل هنا: <a href="https://policies.google.com/technologies/ads">policies.google.com/technologies/ads</a>
          </li>
          <li>
              كما يمكنكم إلغاء الاشتراك في ملفات تعريف الارتباط لوكالات إعلانية أخرى والحصول على المزيد من المعلومات من خلال زيارة الرابط التالي: <a href="https://optout.networkadvertising.org/">https://optout.networkadvertising.org</a>
          </li>
      </ul>
      <br>
      <h4>
          مع من قد نتشارك بياناتك ومعلوماتك؟
      </h4>
      <ul>
          <li>
              قد نقوم بمشاركة معلومات مجمعة مثل عدد زوار الموقع الكلي، عدد مرات التصفح، حجم الزوار ونسبتهم من كل بلد، مع بعض الشركات والأطراف الآخرين الراغبين في تقييم الموقع او الإعلان على صفحاته
          </li>
          <li>
              قد نقوم بتقديم بعض البيانات للجهات القانونية المسؤولة عند طلبها لهذه البيانات ووفق أحكام القوانين المعمول بها دوليا، ووفق ما تقتضيه الحاجة إن وجدت.
          </li>
          <li>
              كل مزودي الخدمات السابق ذكرهم يقومون باستخدام خوادمهم الخاصة لتقديم الخدمات التي نتعاقد معهم على القيام بها، من الممكن أن يتم تخزين بعض البيانات على هذه الخوادم، لذى عليك الاطلاع على سياسة خصوصية كل منهم،  مثال ( <a href="https://policies.google.com/privacy?hl=ar">سياسة خصوصية Google</a> )
          </li>
      </ul>
  </div>
</div>