<div class="container arabic" style="margin-top: 80px" dir="rtl" *ngIf="spinner">
  <p class="h1 h1-responsive text-center">* كل اختبارات المتاحة *</p>
  <hr>
  <nav style="background: #e9ecef !important;" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">الصفحة الرئيسية</a></li>
        <li class="breadcrumb-item active" aria-current="page">قائمة اختبارات {{quizTypeAR}}</li>
      </ol>
  </nav>
  <div class="row" style="margin-top: 4%;" dir="rtl">
    <div class="col-xl-4 col-md-6 colmn" *ngFor="let quiz of quizes">
      <div class="card" style="height: 100%;">
        <img class="card-img-top center image" src="{{quiz.image}}" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title text-right"><span style="color: #00000085;">اسم الامتحان: </span> {{quiz.name}}</h4>
              <p class="text-right"><span style="color: #00000085;">شرح الامتحان: </span> {{quiz.description}}</p>
              <p class="text-right"><span style="color: #00000085;">نوع الامتحان: </span> {{quizTypeAR}}</p>
              <p class="text-right"><span style="color: #00000085;">عدد الأسئلة: </span> {{quiz.questions.length}}</p>
              <p class="text-right"><span style="color: #00000085;">عدد المشاركين بالامتحان: </span> {{quiz.quizViews + 650}}</p>
              <p class="text-right" style="color: #00000085;">مدة الامتحان {{quiz.time}} ثانية.</p>
              <div class="col-md-8 center">
                  <a mdbBtn type="button" color="primary" mdbWavesEffect [routerLink]="['/quiz', quiz.link]" class="btn-block">ابدأ الاختبار</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top:100px" *ngIf="errMess">
  <h3 class="arabic text-center">لقد حدث خطأ في الخادم اذهب الى <a routerLink="/">الصفحة الرئيسية</a></h3>
</div>
<div [hidden]="spinner || errMess">
  <div style="margin-top:150px" class="loader"></div>
</div>