<div class="home">
    <mdb-card style="background-image: url('assets/images/puzzle-light.jpeg');background-size: cover;">
        <div class="text-white text-center py-5 px-4 my-5">
            <div class="col-xl-5 col-lg-8 col-md-12 ml-auto" dir="rtl">
                <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Home Puzzling</strong></h2>
                <p class="arabic" style="font-size:18px">
                    تتكون هذه المنصة من اختبارات ثقافية وعلمية ورياضية ودينية، لكل من هذه الاختبارات مدة زمنية، يمكن للمستخدم ان يقوم بالتحدي مع اصدقائه عبر وسائل التواصل الاجتماعي في النتيجة التي حصل عليها، وفي المدة الزمنية التي استغرقها لينتهي من الاختبار. <br> وسيتم لاحقاً اضافة العاب الذكاء والعاب التسلية 
                </p>
                <a mdbBtn color="white" outline="true" class="waves-light arabic" mdbWavesEffect routerLink="/general-culture">
                 اختبارات ثقافة عامة  <mdb-icon fas icon="clone" class="left"></mdb-icon> 
                </a>
                <a mdbBtn color="white" outline="true" class="waves-light arabic" mdbWavesEffect routerLink="/countries">
                    اختبارات معلومات دول  <mdb-icon fas icon="clone" class="left"></mdb-icon> 
                </a>
            </div>
        </div>
    </mdb-card>
</div>
<div class="container arabic" style="margin-top: 60px" dir="rtl">
    <div class="col-md-6 center" style="margin-bottom: 30px;">
        <h3 class="text-center">
        -  حول هذه المنصة -
        </h3>
        <hr>
    </div>
    <div class="row" style="margin-bottom: 5rem !important;">
        <div class="col-xl-2 col-lg-2 col-md-3">
            <i class="fas fa-home" style="font-size:125px;"></i>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-9">
            <p class="text-right">
                موقع <span style="font-weight: 900;">homepuzzling</span> هو موقع يحتوي على اختبارات ثقافية متعددة ومتنوعة، تستطيع من خلالها اختبار ثقافتك العامة بالإضافة الى إثراء ما لديك من ثقافة من خلال حل هذه الاختبارات ومعرفة الأجوبة الصحيحة.
            </p>
            <p class="text-right">
                يوجد لدى موقعنا فريق متخصص يقوم على البحث والتمحيص عن المعلومات الدقيقة والصحيحة،
                ويقوم فريقنا بالإضافة الى ذلك بالتأكد مرات متعددة من دقة الاسئلة ودقة الإجابة.
            </p>
            <p class="text-right">
                نعتمد بذلك بالبحث في مصادر عديدة ومتنوعة حتى لا يكون هناك اي غلط في تقديم المعلومة الصحيحة .
            </p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-xl-2 col-lg-2 col-md-3">
            <i class="fas fa-puzzle-piece" style="font-size:125px"></i>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-9">
            <p class="text-right" style="margin-top: 10px;">
                يقوم فريقنا بالاضافة لذلك بإضافة اختبارات بشكل مستمر ويستطيع الزائر من خلال صفحة تواصل معنا اقتراح فكرة اختبار جديد لإضافته للموقع .
            </p>
            <p class="text-right">
                وسنقوم قريبا بإضافة بعض الألعاب الترفيهية وألعاب الذكاء بين ثنايا الموقع .
            </p>
        </div>
    </div>
    <hr>
    <h3 class="text-center" style="margin-top: 100px;">
        -  الاختبارات الأكثر إقبالاً -
    </h3>
    <div class="row" style="margin-top: 4%;" dir="rtl">
        <div class="col-xl-4 col-md-6 colmn">
            <div class="card" style="height: 100%;">
                <img class="card-img-top center image" src="https://firebasestorage.googleapis.com/v0/b/home-puzzling.appspot.com/o/test%2F1587337256534_%D9%85%D9%81%D9%87%D9%88%D9%85_%D8%A7%D9%84%D8%AB%D9%82%D8%A7%D9%81%D8%A9_%D9%81%D9%8A_%D8%A7%D9%84%D9%81%D9%84%D8%B3%D9%81%D8%A9.jpg?alt=media&token=cdbdfc5a-df60-4b81-9897-71ff5155a360" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-right"><span style="color: #00000085;">اسم الامتحان: </span> إمتحان ثقافة عامة</h4>
                    <p class="text-right"><span style="color: #00000085;">شرح الامتحان: </span> هل ثقافتك العامة جيدة ,ادخل واختبر نفسك ودعنا نرى ما لديك</p>
                    <p class="text-right"><span style="color: #00000085;">نوع الامتحان: </span> ثقافة عامة</p>
                    <p class="text-right"><span style="color: #00000085;">عدد الأسئلة: </span> 15</p>
                    <p class="text-right" style="color: #00000085;">مدة الامتحان 300  ثانية.</p>
                    <div class="col-md-8 center">
                        <a mdbBtn type="button" color="primary" mdbWavesEffect routerLink="/quiz/culture" class="btn-block">ابدأ الاختبار</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 colmn">
            <div class="card" style="height: 100%;">
                <img class="card-img-top center image" src="https://firebasestorage.googleapis.com/v0/b/home-puzzling.appspot.com/o/test%2F1587337422094_DVTR4raVMAAl6KU.jpg?alt=media&token=6b06c60b-c501-444e-a8d3-f80a6662d89e" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-right"><span style="color: #00000085;">اسم الامتحان: </span> إكمال المقولة</h4>
                    <p class="text-right"><span style="color: #00000085;">شرح الامتحان: </span> أكمل المقولة أو الحكمة أو المتل</p>
                    <p class="text-right"><span style="color: #00000085;">نوع الامتحان: </span> ثقافة عامة</p>
                    <p class="text-right"><span style="color: #00000085;">عدد الأسئلة: </span> 15</p>
                    <p class="text-right" style="color: #00000085;">مدة الامتحان 300  ثانية.</p>
                    <div class="col-md-8 center">
                        <a mdbBtn type="button" color="primary" mdbWavesEffect routerLink="/quiz/thesaying" class="btn-block">ابدأ الاختبار</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 colmn">
            <div class="card" style="height: 100%;">
                <img class="card-img-top center image" src="https://firebasestorage.googleapis.com/v0/b/home-puzzling.appspot.com/o/test%2F1587337721368_e287b0fe-0940-46f4-b46d-f50ce9c3a921_16x9_1200x676.jpeg?alt=media&token=27aad776-de07-4738-a2f9-2b34998eefa8" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-right"><span style="color: #00000085;">اسم الامتحان: </span> اختبار معلومات عن الكورونا</h4>
                    <p class="text-right"><span style="color: #00000085;">شرح الامتحان: </span> ماذا تعرف عن الكورونا , ادخل واختبر اذا كانت معلوماتك صحيحة أو صحح ما لديك من معلومات</p>
                    <p class="text-right"><span style="color: #00000085;">عدد الأسئلة: </span> 15</p>
                    <p class="text-right" style="color: #00000085;">مدة الامتحان 300  ثانية.</p>
                    <div class="col-md-8 center">
                        <a mdbBtn type="button" color="primary" mdbWavesEffect routerLink="/quiz/corona" class="btn-block">ابدأ الاختبار</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div style="margin-top:80px" *ngIf="errMess">
    <h3 class="arabic text-center">لقد حدث خطأ في الخادم اذهب الى <a routerLink="/">الصفحة الرئيسية</a></h3>
</div>
<div [hidden]="spinner || errMess">
    <div style="margin-top:150px" class="loader"></div>
</div> -->