.sm-scr {
    display: none;
}
.lg-scr {
    display: block;
}
.image {
    //width: 100%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: 50%!important;
    max-width: 100%;
    //height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
    height: 171px;
    width: 49%;
    margin-top: -60px;
}

.text-white {
    padding-bottom: 9rem !important;
}
.fas {
    margin-left: 0px;
}
@media only screen and (max-width: 1025px) {
    .text-white {
        padding-bottom: 0rem !important;
    }
    .image {
        height: 226px;
        margin-top: -113px;
    }
}
@media only screen and (max-width: 991px) {
    .image {
        height: 162px;
        width: 162px;
        margin-top: -81px;
    }
}
@media only screen and (max-width: 480px) {
    .sm-scr {
        display: block;
    }
    .lg-scr {
        display: none;
    }
    .image {
        height: 171px;
        width: 50%;
        margin-top: -85px;
    }
    .fas {
        margin-left: 100px;
    }
}
@media only screen and (max-width: 330px) {
    .image {
        height: 145px;
        margin-top: -72px;
    }
}
.breadcrumb-item + .breadcrumb-item::before {
    padding-left: 0.25rem;
}
.card {
    background-color: #fff0 !important;
}
.colmn {
    margin-top: 90px;
    margin-bottom: 50px;
}